.home-pic {
    background-image: url(/assets/images/spotlight.png);
}
.caption {
    top: 20%;
    width: 100%;
}
img {
    vertical-align: middle;
    border-image: 100px solid white;
    margin-bottom: 2%;
    border-radius: 50%;
}