.home-pic {
    background-image: url(/assets/images/spotlight.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.caption {
    top: 20%;
    width: 100%;
}

.headshot {
    vertical-align: middle;
    border-image: 100px solid white;
    margin-bottom: 2%;
    border-radius: 50%;

}
#small-text {
    font-size: 20px;
}
.resize {
    width: 500px;
    height: auto;
}

.resize {
    width: 400px;
    height: auto;
}

.about-p {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
p,#links {
    font-size: 20px;
    color: darkslategrey;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Shadows Into Light', cursive;
    background-image: url(/assets/images/wood.png);
}

#border-width {
    border-width: 200px;
}

#nav-bg {
    font-weight: bold;
   
}

#nametag {
    font-size: 100px;
}

form,
#sub-btn {
    font-size: 30px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar {
    border-bottom: 2px solid darkslategrey; 
    font-size: 20px;
    font-weight: bolder;
}
